<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <style>
        .top-margin-1 {
            margin-top: 1em;
        }
    </style>
    <title>News Sharing</title>
</head>
<body>
<div class="container-fluid">
    <div class="col-md-8 offset-md-2 bg-light top-margin-1 p-3" style="overflow: hidden;">
        <div class="btn-group">
            <a class="btn btn-outline-primary" href="/"><i class="fas fa-home"></i> Home</a>
            <a class="btn btn-outline-primary" href="/new"><i class="fas fa-newspaper"></i> New Article</a>
            <a class="btn btn-outline-primary" href="/user/login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </div>
        <div>
            {{{body}}}
        </div>

    </div>
</div>

</body>
</html>