<h1>Recent Articles</h1>

{{#each articles}}
    <div style="overflow: hidden">
        <a href="/article/{{this.url}}"><h5>{{this.title}}</h5></a>
        <p>{{this.text}}</p>
        {{#unless @last}}
            <hr>
        {{/unless}}
    </div>
{{/each}}